* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    color: 'ffffff' !important;
}
h3 {
    font-size: 1.3rem;
}

.pagination-container  {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.auth{
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.navbar-nav > li{
    padding-left:1.5rem;
    padding-right:1.5rem;
  }

body{
    background: #fffeee;
    font-family: 'Roboto', sans-serif;
}

#landing-title{ 
    font-family: 'Chilanka', cursive !important;
    font-size: 4rem;
}

.jumbotron {
    height: 80vh !important;
    margin-bottom: 0;
    padding-top: 10%;
}

.about {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#title {
    font-family: 'Chilanka', cursive !important;
    padding-bottom: 0;
    font-size: 1.6rem;
    padding-right: 1rem;
    text-shadow: 2px 2px 8px goldenrod;
}

.mybuttons:hover{
    background-color: #bb9f22 !important;
    color: black
}

#registerButton:hover {
    background-color: #bb9f22 !important;
    color: black
}

#loginButton:hover{
    background-color: #bb9f22 !important;
    color: black
}

.items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.5rem;
}


a.custom-card,
a.custom-card:hover {
    color: inherit
}

.transaction{
    margin-top: 2rem;
}

.transaction-background {
    width: 100%;
    height: 80vh;
    /* background-color: rgba(0,0,0, 0.1); */
    /* border: black solid 1px; */
}

.c-form-label {
    padding-top: 0.4rem;
}

#cookies{
    padding-top: 16px !important;
}

.something {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center
}

.outline {
    border: black solid 1px;
}

.custom-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.custom-card h3 {
    margin-bottom: 2rem;
    ;
}
  
img {
    width: 100%;
}

.custom-card img {
    height: 350px;
    border: solid 1px black;
}

.custom-card > div {
    padding: 2rem;
  }

  .custom-card:nth-child(even) img {
    order: 2;
  }

  .animation-section{
      margin: 0;
      padding: 0;
      background: #fffef7;
  }

.spinner-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center

}

  .no-item-container{
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center
  }

  @media(max-width:600px) {
    .custom-card {
      display: block;
    }
  }