* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    color: 'ffffff' !important;
}

body{
    background: #fffae3;
}

.mybuttons:hover{
    background-color: #bb9f22 !important;
    color: black
}

#registerButton:hover {
    background-color: #bb9f22 !important;
    color: black
}

#loginButton:hover{
    background-color: #bb9f22 !important;
    color: black
}

.items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}